{% load static %}

<html>
<head>
  <title>Add Todo List</title>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    rel="stylesheet"
    crossorigin="anonymous"
  />
</head>

<body>
<div class="container mt-4">
  <h1 class="text-center mb-4">Add ToDo Item</h1>

  <form method="POST">
    {% csrf_token %}
    <div class="mb-4">
         <label class="form-label">Title</label>
   {{ form.title }}
   <br>
   <label class="form-label">Description</label>
   {{ form.description }}
    </div>
    <button type="submit" class="btn btn-primary">Save Item</button>
    <a href="{% url 'index'  %}" class="btn btn-secondary">Cancel</a>
  </form>



</div>
</body>
</html>